<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="7.1.1" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.19041.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.37" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="19.3.0.46" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.3.0.46" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>